@model Student
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model != null)
{
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text"><span class="fw-bold">Capacity:</span>@Model.Email</p>
        <p class="card-text"><span class="fw-bold">Capacity:</span>@Model.Address</p>     
        <p class="card-text"><span class="fw-bold">Capacity:</span>@Model.phone</p>
        <a class="btn btn-secondary" asp-action="GetAll" asp-controller="Student" >StudentList</a>
        <a class="btn btn-warning" href="/Student/Edit/@Model.ID" >Edit</a>
        <a class="btn btn-primary" href="/Student/AssignStudentToCource/@Model.ID" >AssignStudentToCource</a>
      </div>
    </div>
}